
/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {

  font-family: var(--main-font), sans-serif;

  background-image: repeating-linear-gradient(
      to bottom,
      var(--bg-color) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to right,
      var(--bg-color) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      180deg,
      var(--linear-gradient-first) 0%,
      var(--linear-gradient-second) 100%
    );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' 400;
}

.header {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border: 2px solid var(--border-color);
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.content {
  margin: 100px auto 0;
  max-inline-size: 696px;
}

.header__title {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__description {
  margin-block-end: 4px;
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.card {
  margin-block-end: 50px;
  color: var(--accent-color);
  background-color: var(--bg-color);
}

.card__title {
  border: 2px solid var(--border-color);
  padding: 3px 24px 3px 10px;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' var(--header-weight);
}

.card__image {
  position: relative;
  border: 2px solid var(--border-color);
  border-block-start: none;
  aspect-ratio: 1 / 1;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.image-grayscale {
  filter: grayscale(75%);
}

.image-saturate {
  filter: saturate(400%);
}

.image-huerotate {
  filter: hue-rotate(30deg);
}

.image-invert {
  filter: invert(90%);
}

.image-sepia {
  filter: sepia(90%);
}

.image-blur {
  filter: blur(10px);
}

.image-huerotate-opacity {
  filter: hue-rotate(100deg) opacity(70%);
}


.card__image-label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-shadow: 
    0 var(--stroke-color), 
    0 1px var(--stroke-color),
    0 -1px var(--stroke-color), 
    1px 0 var(--stroke-color);
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--stroke-color);
}

.card__content {
  border: 2px solid var(--border-color);
  padding: 25px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
  outline: none;
}

.card__content-text {
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--text-weight);
}

.card__content-text:nth-child(1) {
  margin-block-end: 27px;
}

.card__content-text:nth-child(2) {
  margin-block-end: 25px;
}

.card__like-button {
  position: relative;
  border: 2px solid var(--border-color);
  padding: 9px 17px;
  background-color: var(--bg-color);
  block-size: 38px;
  inline-size: 130px;
}

.card__like-button:focus-visible,
.button-remember:focus-visible {
  outline: none;
}

.card__like-button:hover::before {
  width: 100%;
}

.card__like-button::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 0; 
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.card__like-button:hover {
  cursor: pointer;
}

.button__text, .button__text-rembemer {
  color: var(--mix-blend-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.floppy {
  fill: var(--mix-blend-color);
  stroke: var(--mix-blend-color);
  inline-size: 28px;
  block-size: 28px;
  mix-blend-mode: difference;
}

.button-remember {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--border-color);
  padding: 15px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  background-color: var(--bg-color);
  cursor: pointer;
}

.button-remember:focus-visible,
.card__like-button:focus-visible,
.button-save:focus-visible {
  box-shadow: 2px 2px 0 0px var(--border-color);
  transition: box-shadow 0.3s ease;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
  padding-block-end: 100px;
}

.button-remember:hover::before {
  width: 100%;
}

.button-remember::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  width: 0; 
  background-color: var(--accent-color);
  transition: width 0.3s ease;
}

.theme-menu__button {
  border: none;
  padding-inline-start: 27px;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button:focus-visible,
.button-save:focus-visible {
  outline: none;
}

.dialog::backdrop {
  background-color: rgba(0 0 0 / 0.8);
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 2px solid var(--border-color);
  padding: 30px;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: var(--bg-color); 
  max-inline-size: 357px;
}

.dialog:not([open]) {
  display: none;
}

.dialog__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  inline-size: 100%;
}

.button-save {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  border: 2px solid var(--border-color);
  padding: 15px 20px;
  text-transform: uppercase;
  background-color: var(--bg-color);
  cursor: pointer;
}

.button-save-text {
  color: var(--mix-blend-color);
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: var(--bg-color);
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.button-save::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  width: 0; 
  background-color: var(--accent-color);
  transition: width 0.3s ease;
 }

.button-save:hover::before {
  width: 100%;
}

.floppy-dialog {
  fill: var(--border-color);
  stroke: var(--border-color);
  block-size: 39px;
  inline-size: 39px;
}

.dialog__flex-text {
  font-family: var(--accent-font), sans-serif;
  line-height: 1.5;
  white-space: normal;
  max-inline-size: 234px;
}


@media screen and (width <= 375px) {
  .card__image-label {
    top: 25px;
    right: 11px;
  }
}

@media screen and (width >= 500px) {
  .floppy {
    block-size: 21px;
    inline-size: 21px;
  }
}

@media screen and (width > 375px) {
  .button-remember {
    flex-direction: row;
  }
}
